.container {
  position: absolute;
  top: 50px;
  left: 50px;
  color: blue;
}
body {
  background-color: rgb(187, 187, 3);
  list-style-type: none;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
}
li {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 10px;
  padding: 10px;
  border-right: 30px solid black;
}
li:hover {
  background-color: rgb(189, 203, 214);
}
li a {
  color: blue;
  text-decoration: none;
}
.container2 {
  position: absolute;
  left: 500px;
  color: rgb(126, 15, 126);
  font-size: x-large;
}
hr {
  background-color: rgb(126, 15, 126);
  height: 1px;
  border: 1px solid rgb(126, 15, 126);
}
#date {
  font-style: italic;
}
