.container {
  background-color: rgb(190, 7, 87);
  margin-top: 20px;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.Registration {
  background-color: rgb(128, 17, 65);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
}
form {
  color: aliceblue;
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
button {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}
#about {
  padding-left: 10px;
  padding-top: 0%;
  padding-bottom: 30px;
  padding-right: 30px;
}
